.footer {
	nav {
		//display: inline-block;
	}
	.nav-link {
		color: $gray-600;
		&:hover,
		&:focus {
			color: $gray-700;
		}
	}
	.social_search {
		text-align: right;
		padding-top: 2rem;
	}
	form,
	ul.zoom-social-icons-list {
		display: inline-block !important;
	}
	.nav_wrap {
		display: flex;
		justify-content: flex-end;
	}
	.commerce {
		//display: flex;
		//align-items: center;
		//flex-wrap: wrap;
		i {
			margin-right: 1rem;
			cursor: pointer;
			color: $theme-primary;
			font-size: 2rem;
		}
	}
	.input-group {
		border: 2px solid $theme-primary;
		border-radius: 7px;
		max-width: 228px;
		align-items: center;
		width: auto;
		input {
			border: none;
			padding: 0 10px;
			&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
		}
		button {
			border: none;
			border-left: 2px solid $theme-primary;
			width: 30px;
    		height: 30px;
    		&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
			&.btn-outline-secondary:hover {
				background: $theme-primary-rgba-shadow;
			}
			i {
				position: absolute;
			    top: 3px;
			    left: 3px;
			}
		}
	}
	.copyright {
		padding-top: 2rem;
		text-align: center;
	}
}