
.footer {
	
	.nav {
		
	}
	.nav-link,
	.terms a {
		color: $gray-600;
		&:hover,
		&:focus {
			color: $gray-700;
		}
		&:first-child {
			padding-right: 1rem;
		}
	}
	 
	form,
	ul.zoom-social-icons-list {
		display: inline-block !important;
	}
	.nav,
	.nav_wrap,
	.logo_wrap,
	.utility_wrap,
	.social_connect {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			justify-content: center;
		}
	}
	.nav {
		padding-bottom: 1rem;
		@include media-breakpoint-up(md) {
			padding-bottom: 0;
		}
	}
	.navbar-brand {
		margin-right: 0;
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	.social_connect {
		@include media-breakpoint-up(md) {
			padding-top: 2rem;
			flex-direction: column;
			align-items: center;
		}
	} 
	.commerce,
	.medium_commerce {
		display: flex;
		align-items: center;
		padding-bottom: 1rem;
		@include media-breakpoint-up(md) {
			padding-bottom: 0;
		}
		i {
			margin-right: .5rem;
			margin-left: .5rem;
			cursor: pointer;
			color: $theme-primary;
			font-size: 2rem;
			@include media-breakpoint-up(lg) {
				margin-left: 0;
				margin-right: 1rem;
			}
		}
	}
	.commerce {
		@include media-breakpoint-up(md) {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			padding-right: 2rem;
		}
		@include media-breakpoint-up(xl) {
			padding-right: 4rem;
		}
	}
	.medium_commerce {
		display: none;
		@include media-breakpoint-up(md) {
			display: flex;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	.footer_search {
		margin-bottom: 1rem;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	.input-group {
		border: 2px solid $theme-primary;
		border-radius: 7px;
		max-width: 228px;
		align-items: center;
		width: auto;
		input {
			border: none;
			padding: 0 10px;
			&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
		}
		button {
			border: none;
			border-left: 2px solid $theme-primary;
			width: 30px;
    		height: 30px;
    		&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
			&.btn-outline-secondary:hover {
				background: $theme-primary-rgba-shadow;
			}
			i {
				position: absolute;
			    top: 3px;
			    left: 3px;
			}
		}
	}
	.copyright {
		padding-top: 2rem;
		text-align: center;
		font-size: .75rem;
	}
}






///////////////////