$bar-thickness: 4px;                    
$button-pad: 7px;                                          

$color-main: $theme-primary;
$color-active: $theme-secondary;
$color-link: $black;

$button-height: 18px;
$button-width: 24px;


@keyframes topBurgerAnimActive {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(.5 * $button-pad) rotate(23deg);
    }
    100% {
        transform: translateY($button-pad) rotate(45deg);
    }
}
@keyframes topBurgerAnimNot {
    0% {
        transform: translateY($button-pad) rotate(45deg);
    }
    50% {
        transform: translateY(.5 * $button-pad) rotate(23deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes bottomBurgerAnimActive {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-.5 * $button-pad) rotate(-23deg);
    }
    100% {
        transform: translateY(-$button-pad) rotate(-45deg);
    }
}
@keyframes bottomBurgerAnimNot {
    0% {
        transform: translateY(-$button-pad) rotate(-45deg);
    }
    50% {
        transform: translateY(-.5 * $button-pad) rotate(-23deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


.site_header {
	.top_bar,
	.bottom_bar {
		padding: .3rem 1rem;
		background: $theme-primary;
		color: $white;
        @include media-breakpoint-up(sm) {
            padding: .3rem 1.5rem;
        }
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
            max-width: 1400px;
			.zoom-social-icons-list {
				//margin-left: 1rem;
                @include media-breakpoint-up(sm) {
                    //margin-left: 1.5rem;
                }
				.zoom-social_icons-list__link:hover {
				    opacity: 1;
				}
			}
			.commerce {
				display: flex;
				align-items: center;
				i {
					//margin-right: 1rem;
					cursor: pointer;
                    font-size: 24px;
                    color: $white;
                    //margin-right: 1rem;
                    &:first-child {
                        margin-right: 1rem;
                    }
                    @include media-breakpoint-up(sm) {
                        &:first-child {
                            margin-right: 1.5rem;
                        }
                    }
				}
			}
		}
	}
    .navbar-light .navbar-nav .nav-link {
        color: $gray-600;
        &:hover,
        &.focus {
            color: $gray-700;
        }
    }
	.navbar-toggler {
        position: relative;
        height: $button-height;
        width: $button-width;
        cursor: pointer;
        border: none;
        box-shadow: none;
        outline: none;
        transition: opacity .25s ease;
        span {
          background: $color-main;
          border: none;
          height: $bar-thickness;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0;
          transition: background .25s ease-out;
          cursor: pointer;
          border-radius: 2px;
            
            &:nth-of-type(2) {
              top: $button-pad;
            }
            
            &:nth-of-type(3) {
              top: 2 * $button-pad;
            }
          }
          
        &:hover {
            span {
                background: $color-active;
                transition: background .25s ease-in;
                }
            }
        &.loaded {
            opacity: 1;
        }
        &.not-active {
            .top {
                animation-name: topBurgerAnimNot;
                animation-duration: .3s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
            .middle {
                transition: background .2s ease-in .1s;
            }
            .bottom {
                animation-name: bottomBurgerAnimNot;
                animation-duration: .3s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
        }
        &.active {
            .top {
                animation-name: topBurgerAnimActive;
                animation-duration: .3s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                background: $color-active;
            }
            .middle {
                transition: background .15s ease-out;
                background: transparent;//$color-active;
            }
            
            .bottom {
                animation-name: bottomBurgerAnimActive;
                animation-duration: .3s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                background: $color-active;
            }
        }
    }  // end button container  
    .navbar {
        padding: 0 1rem;
        @include media-breakpoint-up(sm) {
            padding: 0 1.5rem;
        }
    }
    .navbar-brand {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .navbar-light .navbar-nav .nav-link {
        color: $gray-600;
        cursor: pointer;
        &:hover,
        &.focus {
            color: $gray-700;
        }
    }
	
	.navbar-nav {
		margin-right: 2rem;
	}
    .navbar-light .navbar-nav .nav-link.active {
        color: $theme-primary;
    }
	.input-group {
		border: 2px solid $theme-primary;
		border-radius: 7px;
		input {
			border: none;
			padding: 0 10px;
			&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
		}
		button {
			border: none;
			border-left: 2px solid $theme-primary;
			width: 30px;
    		height: 30px;
    		&:focus {
				box-shadow: 0 0 0 0.25rem $theme-primary-rgba-shadow;
			}
			&.btn-outline-secondary:hover {
				background: $theme-primary-rgba-shadow;
			}
			i {
				position: absolute;
			    top: 3px;
			    left: 3px;
			}
		}
	}
}