.infinite_ticker {
	padding: 0 1rem 3rem;
	margin: 0 auto;
	@media (min-width: 450px) {
		padding: 0 1.5rem 3rem;
	}
	@include media-breakpoint-up(md) {
      padding: 0 2.5rem 4.5rem;
   	}
    @include media-breakpoint-up(lg) {
      padding: 0 2.5rem 6.75rem;
    }
    .ticker_wrap {
    	position: relative;
    	&:before,
    	&:after {
    		content: '';
    		position: absolute;
    		height: 100px;
    		width: 100px;
    		top: 0;
			background-image: linear-gradient(to right, #ffffff, transparent);
			z-index: 3;
    	}
    	&:before {
    		left: 0;
    	}
    	&:after {
    		right: 0;
    		background-image: linear-gradient(to left, #ffffff, transparent);
    	}
    }
	.tick_box {
		display: flex;
		align-items: center;
		img {
			max-height: 100px;
		}
		.tick_price {
			color: #DE2B1F;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}