.page_builder {
	//margin: 0 auto;
	padding-bottom: 3rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 4.5rem;
   	}
    @include media-breakpoint-up(lg) {
      padding-bottom: 6.75rem;
    }
    .container {
    	background-repeat: no-repeat !important;
		background-position: center center !important;
    	background-size: cover !important;
    }
    .row {
    	justify-content: center;
    	&.reverse_desk {
    		@include media-breakpoint-up(lg) {
	    		.cell-1 {
	    			order: 2;
	    		}
	    		.cell-2 {
	    			order: 1;
	    		}
	    	}
    	}
    }
    .cell-1,
    .cell-2 {
    	
    }
    [class^="col-"] {
    	background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    	padding: 0;
    	display: flex;
    	
    }
    
    .inside_box {
    	width: 100%;
    }
	.headline_block {
		h1,h2,h3 {
			margin: 0 auto;
		}
	}
	.paragraph_block {
		p {
			margin: 0 auto;
		}
	}
	.image_block {
		img {

		}
	}
	.list_block {
		ul {
			margin: 0 auto;
			list-style-position: inside;
			&.bullets_left {
				li {
					margin-left: 1rem;
					padding-left: .5rem;
				}
			}
			&.bullets_center {
				li {
					padding-left: .5rem;
				}
			}
		}
	}
	.inline_list_with_icons {
		ul {
			margin: 0 auto;
			li {
				display: inline-block;
				position: relative;
				img, p {
					display: inline-block;
				}
			}
			&.bullets {
				li {
					padding-left: 1.2rem;
					&:before {
						position: absolute;
						top: -.3rem;
						left: 0;
						content: '\2022';
						font-size: 25px;
					}
				}
			}
		}
	}
	.button_block {
		
	}
	.video_block {
		overflow: hidden;
		position: relative;
		height: 550px;
		video {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 550px;
			width: 977.777777px;
		}
	}
	.price_block {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		background: $theme-primary;
		padding: .3rem;
		border-radius: .3rem;
		@include media-breakpoint-up(lg) {
			max-width: 360px;
		}
		.inner_wrap {
			background: $theme-secondary;
			border-radius: .3rem;
    		padding: .5rem;
		}
		.content_wrap {
			background: $gray-800;
			border-radius: .8rem;
		}
		.title_wrap {
			background: $white;
			color: $theme-primary;
			border-bottom: .3rem solid $theme-primary;
			h2 {
				text-align: center;
				padding: .2rem 0;
				margin: 0;
			}
		}
		.price_wrap {
			padding: 1rem;
			color: $white;

			.price_bar {
				padding: .3rem 0;
				display: flex;
				align-items: center;
				.price_name {
					width: 50%;
					font-size: 1.25rem;
					padding-left: .5rem;
					@media (min-width: 340px) {
						padding-left: 1rem;
					}
					@include media-breakpoint-up(lg) {
				      	font-size: 1.5rem;
				   	}
				   	
				}
				.price_val {
					width: 50%;
					font-size: 1.75rem;
					color: $price-red;
					font-weight: bold;
					//padding-left: .75rem;
					text-align: center;
					@include media-breakpoint-up(lg) {
				      	font-size: 2.5rem;
				   	}
				   	
				}
			}
		}
		sup {
			top: -.2em;
		}
	}

} // close .page_builder


/*****************************************************************************\

	 Overrides of above code per each page-builder section occurs below.

\*****************************************************************************/

.page_builder.service_hero {
	//padding-bottom: 0;
	margin-bottom: 3rem;
	
	@include media-breakpoint-up(md) {
      margin-bottom: 4.5rem;
   	}
    @include media-breakpoint-up(lg) {
      margin-bottom: 6.75rem;
    }
    .container {
    	padding: 1rem 1rem;
    	@media (min-width: 360px) {
			padding: 1rem 1.5rem;
		}
		@include media-breakpoint-up(sm) {
			padding: 1rem 2rem;
		}
		@include media-breakpoint-up(md) {
	      padding: 1rem 2.5rem;
	   	}
	    @include media-breakpoint-up(lg) {
	      padding: 1rem 3.5rem;
	    }
    }
    [class^="col-"] {
    	align-items: center;
    	justify-content: center;
    	color: $white;
    	min-height: 300px;
    	position: relative;
		
    	@include media-breakpoint-up(md) {
	      padding: 0 1.5rem;
	      min-height: 450px;
	   	}
	    @include media-breakpoint-up(lg) {
	      padding: 0 2rem;
	      min-height: 600px;
	    }
	    @include media-breakpoint-up(xl) {
	      padding: 0 4rem;
	    }
    	h1 {
    		padding-bottom: 2rem;
    	}
    	h3 {
	    
	    }
    }
    .cell-1,
    .cell-2 {
    	padding: 3rem 0;
    }
    .cell-1 {
    	.price_block {
    		.price_val {
    			opacity: 0;
    			transition: opacity .2s ease-out;
    			transform: rotateX(90deg);
    			&.vis {
    				opacity: 1;
    				transform: rotateX(0deg);
    				transition: opacity .15s ease-in, transform .4s linear;

    			}
    		}
    	}
    }
    .cell-2 {
    	@include media-breakpoint-up(md) {
    		padding: 3rem 1rem 3rem 2rem;
    	}
   		.inside_box {
			position: absolute;
			right: -1000px;
			max-width: 562px;
			transition: right .25s ease-out;
			&.vis {
				right: 0;
				transition: right .45s ease-in;
			}
    	}
    }
}

.page_builder.item_bar {
	padding: .7rem 1rem;
	margin-bottom: 2rem;
	max-width: 540px;
	@media (min-width: 450px) {
		padding: .7rem 1.5rem;
	}
	@include media-breakpoint-up(md) {
      padding: .7rem 2.5rem;
      max-width: none;
   	}
    @include media-breakpoint-up(lg) {
      
    }

	.row {
		justify-content: space-between;
		border-radius: .5rem;
		border: 2px solid $theme-primary;
		margin: 0;
		padding: 2rem 0;
	}
	[class^="col-"] {
		padding-bottom: 2rem;
	}
	@include media-breakpoint-up(lg) {
		.col-lg-3 {
			width: 20%;
		}
	}
	.paragraph_block:nth-child(1) {
		p {
			font-weight: 500;
		}
	}
	.paragraph_block:nth-child(3) {
		text-align: center;
		 p {
			display: inline-block;
			//background: $theme-light-color;
			border-radius: .2rem;
			padding: 0 .5rem;
			color: $price-red; 
			font-weight: bold;
			font-size: 24px;
		}
	}
	img {
		max-height: 100px;
		margin: .5rem 0;
	}
}

/**/