.container {
	max-width: 1400px;
}
section {
	margin: 0 auto;
}
.row {
	margin: 0 !important;
}
.site_wrapper, a, p {
	color: $gray-600;
}
.container, ul {
	padding: 0;
}

.button {
	display: inline-block;
	width: 120px;
	background: $theme-secondary;
	color: $white;
	padding: .5rem 0;
	text-align: center;
	border: 2px solid $theme-primary;
	border-radius: .4rem;
	transition: background .25s ease-out;

	&:hover {
		color: $white;
		background: $theme-primary;
		transition: background .25s ease-in;
	}
}

