.site-main {
	padding-bottom: 3rem;
	@include media-breakpoint-up(md) {
      padding-bottom: 4.5rem;
   	}
    @include media-breakpoint-up(lg) {
      padding-bottom: 6.75rem;
    }
	.products {
		list-style-type: none;
	}
	li {
		padding: 0;
		text-align: center;
		padding-bottom: 3rem;
	}
	h2 {
		margin-top: 1rem;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.price {
		display: block;
		margin-bottom: 1rem;
		bdi {
			font-weight: 500;
			font-size: 1.25rem;
			span {
				font-weight: 500;
				font-size: 1.25rem;
			}
		}
	}
	a:not(.button), span {
		color: $gray-600;
	}
	
}